<div class="entry m-1 p-2">
  {{#if listProducts}}
  <h4 class="mb-3 text-center text-light"> Lista de Productos <i>Faker</i></h4>
    <table class="table table-hover">
      <thead class="bg-warning">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Titulo</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody class="bg-light">
        {{#each listProducts}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img
                src="{{this.url}}"
                alt="{{this.name}}"
                width="25"
              /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h4 class="mt-4"> No hay productos agregados</h4>
  {{/if}}

</div>
